<form class="bd-search d-flex align-items-center">
  <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-siteurl="https://alphajohnny.com" data-docs-version="4.1">
  <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg"
      viewbox="0 0 30 30" width="30" height="30" focusable="false">
      <title>Menu</title>
      <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
    </svg>
  </button>
</form>

<nav class="collapse bd-links" id="bd-docs-nav">
  <div class="bd-toc-item active">
    <a class="bd-toc-link" href="{{site.url}}/tuts/Module_01._Technical_Analysis">
      Technical Analysis
    </a>
    <ul class="nav bd-sidenav ml-md-3">
      <li>
        <a href="{{site.url}}/tuts/Module_01._Technical_Analysis/Chapter_01._Dow_Theory">
          Ch 01. Dow Theory
        </a></li>
      <li>
        <a href="{{site.url}}/tuts/Module_01._Technical_Analysis/Chapter_02._Reading_Charts">
          Ch 02. Reading Charts
        </a></li>
      <li>
        <a href="{{site.url}}/tuts/Module_01._Technical_Analysis/Chapter_03._Technical_Indicators">
          Ch 03. Technical Indicators
        </a></li>
      <li>
        <a href="{{site.url}}/tuts/Module_01._Technical_Analysis/Chapter_04._Elliott_&_Fibonacci">
          Ch 04. Elliott & Fibonacci
        </a></li>
      <li>
        <a href="{{site.url}}/tuts/Module_01._Technical_Analysis/Chapter_05._Candlesticks_&_Price-Action">
          Ch 05. Candlesticks & Price Action
        </a></li>
    </ul>
  </div>
  <div class="bd-toc-item">
    <a class="bd-toc-link" href="{{site.url}}/tuts/Module_02._Fundamental_Analysis">
      Fundamental Analysis
    </a>
    <a class="bd-toc-link" href="{{site.url}}/tuts/Module_03._Money_Risk_Psychology_News">
      Money, Risk, Psychology & News
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Quant Math & Trading Rules
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Options, Derivatives & Synthetics
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Crypto Currencies
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Venture Capital & Angel Investing
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Economic Theory & Governance
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Taxes & Estate Planning
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      AI & Machine Learning
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Human Psychology
    </a>
    <a class="bd-toc-link" href="/docs/4.1/layout/overview/">
      Leadership & Organizational Dynamics
    </a>
  </div>
</nav>