<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{{site.url}}/assets/images/system/{{ site.color }}/logo.png" width="26" height="36" class="d-inline-block align-top" alt="">
    AlphaJohnny
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/About-Us">About Us <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tutorial
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="/tuts/Module_01._Technical_Analysis">Technical Analysis</a>
          <a class="dropdown-item" href="#">Fundamental Analysis</a>
          <a class="dropdown-item" href="#">Money, Risk, Psychology & News</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Quant Math & Trading Rules {private}</a>
          <a class="dropdown-item disabled" href="#">Options, Derivatives & Synthetics {private}</a>
          <a class="dropdown-item disabled" href="#">Crypto Currencies {private}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Venture Capital & Angel Investing {private}</a>
          <a class="dropdown-item disabled" href="#">Economic Theory & Governance {private}</a>
          <a class="dropdown-item disabled" href="#">Taxes & Estate Planning {private}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">AI & Machine Learning {private}</a>
          <a class="dropdown-item disabled" href="#">Human Psychology {private}</a>
          <a class="dropdown-item disabled" href="#">Leadership & Organizational Dynamics {private}</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/posts">Trade Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pubs">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/consulting">Consulting</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>