<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include top-nav.html %}
    <div class="container markdown-body">
      <div class="row">
        <div class="d-none d-xl-block col-xl-2 bd-toc">
          {% include categories.html %}
          {% include tags.html %}
        </div>
        <div class="col-12 col-md-12 col-xl-10 py-md-3 pl-md-5 bd-content" role="main">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>